

.Heading {
  display: flex;
  width: 100vw;
  height: 80px;
  background-color: red;
  border-bottom: solid;
}

.Body {
  background-color: lightgoldenrodyellow;
  width: 100vw;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid;
}

.BodyDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  font-size: 50px;
  background-color: lightgoldenrodyellow;
}

.Projects {
  height:400px;
  background-color: green;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.Box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 34%;
  background-color: lightgoldenrodyellow;
  border-color: black;
  border-left: solid;
  border-top: solid;
}

.Name {
  background-color: lightgoldenrodyellow;
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid;
}

.Info {
  background-color: lightgoldenrodyellow;
  width: 46%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid;
  justify-content: space-evenly;
}

.Mode {
  background-color: lightgoldenrodyellow;
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid;

}

.Fun {
  background-color: lightgoldenrodyellow;
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.Bottom {
  background-color: green;
  display: flex;
  height: 80px;


}

.BottomLeft{
  background-color: lightgoldenrodyellow;
  width: 50%;
  display: flex;
  align-items: center;
  border-top: solid;
  justify-content: space-around;
}

.BottomRight {
  border-top: solid;
  background-color: lightgoldenrodyellow;
  width: 50%;
  align-items: center;
  justify-content: right;
  display: flex;
  justify-content: space-evenly;
}